<body>

    <div class="container-fluid">
    <div class="row">
    
    <div class="col-md-6" id="books">
        <img  src="/../assets/img/bgBooks.jpg" alt="bgBooks">
    </div>
        
    
    <div class="col-md-6">
         <div class="card-deck">  
    
            <div class="card mb-2">
                <h3 class="card-header">Welcome to Mybrary!</h3>
                <div class="card-body">
                <p class="card-text">Mybrary is an online lending library where you can lend out or borrow books and albums.</p>
                </div>  
            </div>
            
            <div class="card mb-2">
                <h3 class="card-header">How it works:</h3>
                <div class="card-body">
                <p class="card-text">Create an account, list your books and/or music to lend out, and browse other peoples's collections to borrow from.</p>     
                </div>  
            </div>
    
            <div class="card mb-2">
                <h3 class="card-header">New to the site?</h3>
                <div class="card-body">
                <p class="card-text">Sign up and create a free account here:</p>
                <button class="btn btn-lg" routerLink="/register">Register</button>
                 </div>  
            </div>
    
        </div>   
    </div>
    
    </div> 
    </div>
    
    <!-- <footer class="page-footer font-small cyan darken-3"></footer> -->
    
    </body>
